$black: #000;
$white: #fff;
$light-gray: #d6d6d6;
$gray: #a7a7a7;
$purple: #505591;
$dark-purple: #393e74;
$light-blue: #67cdfc;
$blue: #2a67c2;
$dark-blue: #0e56c2;
$brown: #aa6601;
$yellow: #bbd42c;
$yellow-second: #97ac24;
$green: #5fced6;


$brown-gradient: linear-gradient(0deg, rgba(170, 102, 1, 1) 0%, rgba(217, 130, 0, 1) 50%, rgb(214, 145, 1) 100%);
$light-blue-gradient:linear-gradient(90deg, rgba(33, 217, 219, 1) 0%, rgba(34, 193, 195, 1) 40%, rgba(34, 193, 195, 1) 60%, rgba(33, 217, 219, 1) 100%);

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $green;
    color: $white;
    font-family: 'Nunito',
    sans-serif;
}
header{
    background-color: $blue;
}

.title{
    text-align: center;
    color: $white;
    font-family: 'Grandstander',
    cursive;
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0;
    
}
.container{
    margin: 0 auto;
    padding: 0 15px 0 15px;
    width: 100%;
}

.start-game{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-board{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &--show{
        display: flex;
    }
}

.column-box{
    width: 100%;
    height: 450px;
    margin-bottom: 2.5px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: $light-gray;
    margin-bottom: 20px;
    transition: background-color .3s ease-in-out;

    &:hover{
        background-color: $gray;
    }

    &::before{
       content: ''; 
       position: absolute;
       height: 90%;
       width: 40px;
       background-color:$light-blue;
       border: 10px solid $purple;
       border-radius: 25px;
       left: 50%;
       bottom: 5px;
       transform: translateX(-50%);
       background: $light-blue-gradient;
    }
    &::after{
        content: '';
        position: absolute;
        width: 70%;
        border: 10px solid $purple;
        border-radius: 10px;
        height: 50px;
        background: $brown-gradient;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.block{
    height: 50px;
    width: 60%;
    border: 10px solid $purple;
    background-color: $yellow;
    border-radius: 50px;
    z-index: 1;
    text-align: center;
    font-size: 22px;
    color: $purple;
    transition: border .5s ease-in-out, transform .5s ease-in-out, box-shadow .5s ease-in-out;

    &--even{
        background-color: $yellow-second;
    }

    &--active{
        transform: translateY(-100%);
        border: 10px solid $dark-purple;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    }

    &--width-1{
        width:25%;
    }
    &--width-2{
        width:30%;
    }
    &--width-3 {
        width: 35%;
    }
    &--width-4 {
        width: 40%;
    }
    &--width-5 {
        width: 45%;
    }
    &--width-6 {
        width: 50%;
    }
    &--width-7 {
        width: 55%;
    }


}

.block:last-child{
    margin-bottom: 45px;
}


.start-btn{
    font-family: 'Nunito',
    sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: $white;
    box-shadow: none;
    border: none;
    border-radius: 100px;
    padding: 6px 25px;
    background-color: $blue;
    outline: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0,0.7);
        background-color: $dark-blue;
    }
}


@media (min-width: 768px) {
    .game-board {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        &--show {
            display: grid;
        }
    }
    .column-box{
        height: 400px;
    }

}