$black: #000;
$white: #fff;
$light-gray: #e0e0e0;
$gray: #a7a7a7;
$purple: #505591;
$dark-purple: #393e74;
$light-blue: #67cdfc;
$blue: #2a67c2;
$dark-blue: #0e56c2;
$brown: #aa6601;
$yellow: #bbd42c;
$yellow-second: #97ac24;
$green: #45d4df;
$green2:#3bbcc5;


$brown-gradient: linear-gradient(0deg, rgba(170, 102, 1, 1) 0%, rgba(217, 130, 0, 1) 50%, rgb(214, 145, 1) 100%);
$light-blue-gradient:linear-gradient(90deg, rgba(33, 217, 219, 1) 0%, rgba(34, 193, 195, 1) 40%, rgba(34, 193, 195, 1) 60%, rgba(33, 217, 219, 1) 100%);

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $light-gray;
    color: $white;
    font-family: 'Nunito',
    sans-serif;
}
header{
    background-color: $blue;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 5px $blue;
}


.title{
    text-align: center;
    color: $white;
    font-family: 'Grandstander',
    cursive;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 0;  
}

.info-bar{
    text-align: center;
    width: 100%;
    display: none;
    justify-content: space-around;

    &__text{
        letter-spacing: 1px;
        font-size: 17px
    }

    &--show{
        display: flex;
    }
}

.button-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: $light-blue;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    font-size: 23px;
    border-radius: 25px;
    outline: none;  
    transition: box-shadow .3s ease-in-out, color .2s ease-in;

    &__rules{
        margin-bottom: 5px;
        font-size: 25px;
    }

    &__restart{
        display: none;
        &--show-btn{
            display: block;
        }
    }


    &:hover,
    &:focus {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
        color: black;
    }
}

.container{
    margin: 0;
    padding: 0 15px 0 15px;
    width: 100%;
}
.wrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-game{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    width: 300px;
    background-color: $green2;

    h2{
        margin-bottom: 20px;
        font-size: 26px;
        letter-spacing: 1px;
    }

    &__settings{
        margin-bottom: 40px;
    }
}

.game-board{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: $green2;


    &--show{
        display: flex;
    }
}

.column-box{
    width: 100%;
    min-height: 260px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color .3s ease-in-out, box-shadow .3s
     ease-in-out;

    &:hover{
        background-color: $light-blue;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    }

    &::before{
       content: ''; 
       position: absolute;
       height: 90%;
       width: 20px;
       background-color:$light-blue;
       border: 5px solid $blue;
       border-radius: 25px;
       left: 50%;
       bottom: 5px;
       transform: translateX(-50%);
       background: $light-blue-gradient;
    }
    &::after{
        content: '';
        position: absolute;
        width: 90%;
        height: 30px;
        border: 5px solid $blue;
        border-radius: 10px;
        background: $brown-gradient;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    &:last-child{
        margin-right: 0;
    }
}



.block{
    height: 29px;
    border: 5px solid $blue;
    background-color: $yellow;
    border-radius: 50px;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    color: $purple;
    transition: border .1s ease-in-out, transform .1s ease-in-out, box-shadow .1s ease-in-out;

    &--even{
        background-color: $yellow-second;
    }

    &--active{
        transform: translateY(-100%);
        border: 5px solid $dark-purple;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    }

    &--width-1{
        width:25%;
    }
    &--width-2{
        width:30%;
    }
    &--width-3 {
        width: 36%;
    }
    &--width-4 {
        width: 45%;
    }
    &--width-5 {
        width: 55%;
    }
    &--width-6 {
        width: 65%;
    }
    &--width-7 {
        width: 75%;
    }
}

.block:last-child{
    margin-bottom: 25px;
}


.start-btn{
    font-family: 'Nunito',
    sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: $white;
    box-shadow: none;
    border: none;
    border-radius: 100px;
    padding: 6px 35px;
    background-color: $blue;
    outline: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0,0.7);
        background-color: $dark-blue;
    }
}

.modal-shadow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(12, 52, 85, 0.712);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    &--show{
        opacity:0;
        transition: opacity 1s ease-in-out;
    }

    &__box{
        width: 60%;
        height: 60%;
        background-color: $blue;
        text-align: center;
        position: relative;
    }

    &__title{
        font-family: 'Grandstander', cursive;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 500;
        padding: 15px 0 10px;
    }

    &__close-btn{
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
        height: 35px;
        border-bottom-left-radius: 20px;
        border: none;
        outline:none;
        color: $white;
        background-color: $green;
        font-size: 20px;
        transition: box-shadow .3s ease-in, color .2s ease-in;
        cursor: pointer;    

        &:hover,
        &:focus{
            box-shadow: -3px 3px 5px 3px rgba(0, 0, 0, 0.24);
            color: black;
        }
    }
}

// ---------------------
// MEDIA QUERIES
// ---------------------

@media(min-width: 568px) {
    .game-board {
        flex-direction: row;
    }

    .column-box {
        width: 100%;
        margin-right: 5px;
    }
}

@media(min-width: 768px){
    .title{
        font-size: 34px;
    }
}

@media(min-width: 1024px) {
    .title{
        font-size: 40px;
    }
    .column-box {
        min-height: 340px;

        &::before {
            width: 30px;
        }

        &::after {
            height: 35px;
        }
    }

    .block{
        height: 37px;
        font-size: 18px;

        &:last-child{
            margin-bottom: 30px;
        }
    }
}

@media(min-width: 1200px){
    .title {
        font-size: 46px;
    }
    .game-board{
        min-height: calc(100vh - 80px);
    }
    .column-box{
        min-height: 500px;
        &::before {
            width: 40px;
        }

        &::after {
            height: 50px;
        }
    }
    .block {
        height: 50px;
        font-size: 22px;
        line-height: 1.7;


        &:last-child {
            margin-bottom: 50px;
        }
    }
}